{
  "plugins": [
    "stylelint-order"
  ],
  "extends": [
    "css-properties-sorting",
    "stylelint-config-standard"
  ],
  "rules": {
    "order/order": [
      "custom-properties",
      "dollar-variables",
      "at-variables",
      "declarations",
      "rules",
      "at-rules",
      "less-mixins"
    ],
    "no-empty-source": null,
    "at-rule-no-unknown": null,
    "at-rule-name-space-after": null,
    "at-rule-empty-line-before": null,
    "number-leading-zero": "never"
  }
}
