/**
 * @name:article.css
 * @explain: 文章内容样式
 */
 * {
    margin: 0;
    padding: 0;
}
body{
    background-color:#dedede;
}
.main {
    margin: 0 auto;
    background-color: #ffffff;
    color:#454545;
    width:96vw;
    border:1px solid #afafaf;
    box-shadow:0px 0px 3px #afafaf;
}

.content {
}

/* 头部样式 */
.content-header {
    
    position: fixed;
    top:0px;
    left:0px;
    width:100vw;
    display: block;
    text-align: center;
    background-color: #222222;
}

.content-header-name {
    text-shadow: 0 0 10px gainsboro;
    text-decoration: none;
    color: #fffeff;
    font-size: 6vw;
    padding: 1vw 0 1vw 0;

}
.catalog{
    float:left;
    color:#fffeff;
    display: inline-block;
    position:relative;
    top:3.5vw;
    left:4vw;
    margin-top:-3vw;
    margin-left:-2vw;
    padding:1vw 1vw 1vw 1vw;
}
.menu{
    float:right;
    color:#fffeff;
    display: inline-block;
    position:relative;
    top:3.5vw;
    right:4vw;
    margin-top:-3vw;
    margin-right:-2vw;
    padding:1vw 1vw 1vw 1vw;
}
.icon{
    display: inline-block;
    width:5vw;
    height:5vw;
    background-size: 100% 100% ;
    background-repeat: no-repeat;
}
.icon-catalog{
    background-image: url('../image/svg/catalog.svg');
}
.icon-menu{
    background-image: url('../image/svg/menu.svg');
}

.content-body{
    width:94vw;
    margin:8vw auto 0;
}

/*文章头部样式*/
.article-header{
    padding-top:10vw;
    margin-top:5vw;
    margin-bottom:4vw;
    text-align:center;
}
.article-header-name{
    font-size: 6vw;
    color: #535353;
}
.article-header-tags{
    display: block;
    margin-top:1vw;
    margin-bottom:3vw;
}
.article-header-tags span{
    font-size: 3vw;
    color: #ABAAAF;
}

.article-header-signature{
    display: block;
    width:60vw;
    margin:0 auto;
    font-size:3.6vw;
    color:#636363;
    border:1px solid #afafaf;
    padding:0 4vw 0 4vw;
    border-radius:20vw;
}

.article-body{
    padding-top:3vw;
}
.article-body h1,h2,h3,h4{
    color:#222222
}
.article-body h1{
    margin-top:2vw;
    font-size:5vw;
}
.article-body h2{
    margin-top:1.5vw;
    font-size:4.6vw;
    font-weight:700;
}
.article-body h3{
    margin-top:1vw;
    font-size:4vw;
    font-weight:700;
}
.article-body h4{
    margin-top:1vw;
    font-size:3.6vw;
    font-weight:700;
}
h1 h2 h3 h4{
    
}
.article-body p{
    text-indent:2em;
    margin-top:1vw;
    margin-bottom:1vw;
}
.article-body ul{
    list-style: none;
    border-left:3px solid #ABAAAF;
    margin-left:1em;
    margin-right:1em;

}
.article-body img{
    max-width: 90vw;
}

.article-body .code{
    background-color:#333333;
    border-radius:4px;
}
.code .code-container{
    width:90vw;
    background-color:#1e1e1e;
    margin:0 auto;
    border-top:2vw solid #333333;
    border-bottom:2vw solid #333333;
    color:#DAD4D8;
    padding-top:1vw;
    padding-bottom:1vw;
}
.code-container p{
    padding: 0px;
    margin: 0px;
}